.code-across .welcome h2.about {
  font-size: 25px;
  padding: 0px 15%;
  text-align: center;
}

.code-across .welcome h2.about {
  font-size: 30px;
  padding: 0px 24%;
}
  
.come-to-codeacross {
  text-align: center;
  color: #8C8C8C;
}

.code-across {
  margin-bottom: 100px;
}

.code-across-teaser {
  border-radius: 3px;
}

.code-across .welcome,
.code-across-teaser {
  background-color: #EF4E4B;
  padding: 20px 50px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, .15);
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, .15);
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .code-across-teaser {
    padding: 20px;
  }
}

.code-across .welcome h1.title,
.code-across-teaser h1.title {
  font-weight: 900;
  font-size: 45px;
  letter-spacing: -2px;
  line-height: 1.2;
  margin-top: 15px;
}
@media only screen and (max-width: 500px) {
  .code-across .welcome h1.title, .code-across-teaser h1.title {
    font-size: 35px;
  }
}

.code-across .welcome h3.date,
.code-across-teaser h3.date {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
}

.code-across .welcome h2.about,
.code-across-teaser h2.about {
  font-size: 20px;
  line-height: 1.2;
  padding: 0px 2%;
  font-weight: 500;
  margin-top: 15px;
}


.code-across-teaser a {
  color: #fff;
}

.code-across h2 {
  margin-top: 40px;
  text-align: left;
}  
.code-across .toc {
  margin-top: 40px;
  border: 2px solid #ccc;
  padding: 15px 0;
}

.register-button {
  display: block;
  text-align: center;
  padding: 40px 53px;
  font-size: 1.6em;
  line-height: 1.4;
}
@media only screen and (max-width: 500px) {
  .register-button {
    padding: 20px;
  }
}
