main.open-data-day {
  width: 100%;
  float: none;
}

main.open-data-day .page-header {
  text-align: center;
  margin-bottom: 50px;
}

main.open-data-day img.logo {
  border: 0px;
  width: 250px;
  height: auto;
}

main.open-data-day h1.title {
  font-size: 30px;
}

main.open-data-day h2.about {
  font-size: 36px;
  font-weight: 100;
}

main.open-data-day abbr {
  border-bottom: 1px dashed #DDD;
}

main event {
  width: 400px;
  margin: 50px auto 80px auto;
  display: block;
}

main event::before {
  content: "{";
  color: #9dd;
  padding-right: 10px;
  font-size: 150px;
  float: left;
  font-family: sans-serif;
  line-height: 1.0;
}

event > item {
  padding-top: 10px;
  display: block;
  text-align: left;
}

event > item span {
  display: inline-block;
  vertical-align: middle;
}

a.button {
  border: 1px solid #9dd;
  background-color: #9dd;
  color: #333;
  font-size: 20px;
  padding: 15px 25px;
}

a.button:hover {
  border: 1px solid #4BC3C3;
  background-color: #4BC3C3;
}

a.button.small {
  font-size: 16px;
  padding: 10px 16px;
}

main.open-data-day h2 {
  text-align: center;
  font-size: 45px;
}

main.open-data-day h4 {
  margin-bottom: 20px;
  font-weight: 300;
}

main.open-data-day .prompts h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

main.open-data-day .prompts {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main.open-data-day .prompts li {
  list-style-type: none;
  background-color: #E5F6F6;
  width: 400px;
  margin: 0px auto 5px auto;
  padding: 10px 20px;
}

main.open-data-day .sponsor-logos {
  text-align: center;
  margin-bottom: 25px;
}

main.open-data-day .sponsor-logos img {
  width: 200px;
  display: inline-block;
  border: 0px;
  margin: 25px;
}

#schedule-table {
  margin: auto;
  border-spacing: 0;
}

#schedule-table .brace {
  color: #9dd;
  font-family: sans-serif;
  line-height: 1.0;  
}

#schedule-table .r {
  text-align: right;
}

#schedule-table .fivetall {
  font-size: 150px;
}

#schedule-table .threetall {
  font-size: 75px;
}

#schedule-table .aside {
  vertical-align: middle;
  display: inline-block;
  font-size: 12pt;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #708d8d;
}