main.open-data-day {
  width: 100%;
  float: none;
}

main.open-data-day .page-header {
  text-align: center;
}

main.open-data-day img.logo {
  border: 0px;
  width: 250px;
  height: auto;
}

main.open-data-day h1.title {
  font-size: 30px;
}

main.open-data-day h2.about {
  font-size: 36px;
  font-weight: 100;
}

main.open-data-day abbr {
  border-bottom: 1px dashed #DDD;
}

main event {
  width: 500px;
  margin: auto;
  display: block;
}

main event::before {
  content: "{";
  color: #9dd;
  padding-right: 10px;
  font-size: 150px;
  float: left;
  font-family: sans-serif;
  line-height: 1.0;
}

event > item {
  padding-top: 10px;
  display: block;
  text-align: left;
}

event > item span {
  display: inline-block;
  vertical-align: middle;
}
