html, body {
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  background-color: #fefefa;
}

.page-content h1, .page-content h2, .page-content h3 {
  margin-top: 25px;
}

.page-content h4, .page-content h5, .page-content h6 {
  margin-top: 15px;
}

.top-nav .logo {
  width: 80px;
  height: auto;
}

.landing-header {
  background-image: url(/images/seattle.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

.landing-header .logo {
  width: 200px;
  margin: 10% 0px 30px 0px;
}

.landing-header h2 {
  font-size: 30px;
  color: #fff;
}

.sponsors .page-section-block-content {
  position: relative;
  height: 150px;
}

.sponsors img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fb-follow {
  vertical-align: top;
}

.fb-follow span {
  width: 280px !important;
}

.page-body img {
  max-width: 100%;
}

/* ----- PROJECT LISTING ----- */

.row {
  overflow: auto;
  margin-bottom: 20px;
}

.project-thumbnail {
  overflow: hidden;
}

.project-thumbnail img {
  max-width: 100%;
  max-height: 300px;
}

.tag-cloud, .labels .label {
  font-size: 80%;
  background-color: #f3f3f0;
  padding: 3px 5px;
}

.tag-cloud, .labels .label:before {
  content: '#';
  font-size: 80%;
}

.contributors .contributor:after {
  content: ','
}

.contributors .contributor:last-child:after {
  content: ''
}

.project-card {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  overflow: auto;
  margin-bottom: 10px;
}

.project-card h3 {
  font-weight: bold !important;
}

.project-card dl, .project-card dd, .project-card dt {
  margin: 0;
  padding: 0;
}

.project-card td:first-child {
  width: 120px;
}

/*github info on projects page*/
.repo ul{
  list-style: none;

}
.repo li{
   display: inline-block;
}

.repo img{
  width: 40px;
}

@media (min-width: 600px) {
  .landing-header h2 {
    font-size: 40px;
  }
}

@media (min-width: 840px) {
  .landing-header h2 {
    font-size: 60px;
  }
}

@media (min-width: 1020px) {
  .landing-header h2 {
    font-size: 80px;
  }
}
