---
layout: default
---

<header class="page">
  <div class="container">
    <div class="inner-wrapper">
      {% include header-page.html %}
      {% include navbar.html %}
    </div>
  </div>
</header>

<main role="main" class="code-across">

	<div class="welcome">

		<h1 class="title">Code Across Seattle</h1>
		<h3 class="date">February 22, 2014 / 10 a.m. – 6 p.m.</h3>

		<h2 class="about">A one-day event focused on open data & civic technology in Seattle</h2>
	</div>

  <div class="container">
    <div class="inner-wrapper">
				<h2>What's happening?</h2>

				<h3>Open Data day</h3>
				<p>Code Across Seattle coincides with International Open Data Day!</p>

				<p>Open Data Day is a gathering of citizens in cities around the world to write applications, liberate data, create visualizations and publish analyses using open public data to show support for and encourage the adoption open data policies by the world's local, regional and national governments.</p>

				<p><b><a href="http://opendataday.org/">Learn more at opendataday.org</a></b></p>

				<h3>IconLocal Seattle</h3>

				<p>Make icons to represent Seattle neighborhoods, landmarks, city services, and more! You and others will then be able to use those icons in civic applications, data visualizations, etc.</p>

				<h2>Schedule</h2>
				<p>The schedule for the event will be announced soon!</p>

				<a class="button" href="http://www.meetup.com/Code-for-Seattle/events/162078952/">Register for Code Across Seattle on meetup.com</a>
    </div>
  </div>    
</main>