---
layout: default
---

<header class="page">
  <div class="container">
    <div class="inner-wrapper">
      {% include header-page.html %}
      {% include navbar.html %}
    </div>
  </div>
</header>

<main role="main" class="code-across">

	<div class="welcome">

		<h1 class="title">CodeAcross Seattle</h1>
		<h3 class="date">February 22, 2014 / 10 a.m. – 6 p.m.</h3>

		<h2 class="about">A one-day event focused on open data<br />
		&amp; civic technology in Seattle</h2>
	</div>

  <div class="container">
    <div class="inner-wrapper">

			<h4><b>CodeAcross Seattle, February 22, is a full day of events for incubating civic innovation in our city.</b></h4> 
			<h4>CodeAcross Seattle, on February 22, is a full day of events for incubating civic innovation in our city. We’re bringing together local governments, businesses, schools, and community organizations, as well as social service organizations, media outlets, foundations, and the public to collaborate on civic innovation that will help our residents and improve our region.</h4>

			<p><a class="button red" href="http://www.meetup.com/Code-for-Seattle/events/162078952/">Register for CodeAcross Seattle on meetup.com</a></p>

			<h2>What's happening?</h2>

			<h3 id="opendataday">Open Data day</h3>
			<p>CodeAcross Seattle coincides with International Open Data Day!</p>

			<p>Open Data Day is a gathering of citizens in cities around the world to write applications, liberate data, create visualizations and publish analyses using open public data to show support for and encourage the adoption open data policies by the world's local, regional and national governments.</p>

			<p><b><a href="http://opendataday.org/">Learn more about International Open Data Day.</a></b></p>

			<h3 id="codeacross">CodeAcross</h3>

			<p>CodeAcross 2014 is a weekend of events taking place in cities around the world. There will be events hosted simultaneously in dozens of cities all around the globe on the weekend of February 21-23, 2014. The goal of CodeAcross is to activate the Code for America network and inspire residents everywhere to get actively involved in their community.</p>
			<p>This year's theme for CodeAcross is <b>Beyond Transparency</b>. Let’s take the open government movement one step further, by focusing on not only making data open, but actionable. Join us to push the ball forward in Seattle, WA.</p>
			
			<h3>Who should get involved?</h3>
			
			<p>Urbanists, Civic Hackers, Government Staff, Developers, Designers, etc. — anyone with the passion to make their city better.</p>

			<p><b><a href="http://www.codeforamerica.org/codeacross-2014/" target="_blank">Learn more about CodeAcross.</a></b></p>

			<h3 id="iconlocal">IconLocal Seattle</h3>

			<p>Make icons to represent Seattle neighborhoods, landmarks, city services, and more! You and others will then be able to use those icons in civic applications, data visualizations, etc.</p>

			<h2 id="schedule">Schedule</h2>
			<p>The schedule for the event will be announced soon!</p>

			<p><a class="button red" href="http://www.meetup.com/Code-for-Seattle/events/162078952/">Register for CodeAcross Seattle on meetup.com</a></p>

			<h2 id="sponsor">Sponsor CodeAcross Seattle</h2>
			<p>We are grateful you are considering supporting our event. Code Across Seattle is a 100% volunteer driven event put on by Code for Seattle. <b>We need your support. Please email us at svincent@codeforamerica.org and/or wscott@codeforamerica.org if you can help!</b>
			<p>We are seeking donations of cash, venue, goods, prizes, and services. The easiest way to support Code Across Seattle is to make a cash contribution by check or our web site (link below). Code for Seattle is our local arm of the national organization Code for America. As a 501(c)(3) nonprofit and nonpartisan organization, donations to Code for America (and our event) are tax deductible. All contributors who desire it will receive recognition through event marketing.</p>

			<p><a href="http://codeforamerica.org/donate" class="button red" target="blank">Donate through codeforamerica.org</a></p>

			<p>Enter <b>CODE ACROSS SEATTLE</b> In the field for “What inspired your contribution?”</p>

			<h2>Why you should sponsor CodeAcross Seattle</h2>
			<p>Because, like us, you want to help make Seattle better, together. We’re recruiting extensively from local governments, businesses, schools, communities, as well as social service organizations, media outlets, foundations, and the public. We want to bring these diverse communities together to take on civic innovation challenges that will help our residents and improve our region.</p>
    </div>
  </div>    
</main>
