---
layout: home
---

<h2 class="come-to-codeacross">Come to our next big event!</h2>
<a class="" href="http://www.meetup.com/Code-for-Seattle/events/162078952/">
  <img src="/images/code-across/codeacross2.jpg" class="full">
</a>
<p><a class="button red register-button" href="http://www.meetup.com/Code-for-Seattle/events/162078952/">Register for CodeAcross Seattle on Meetup.com</a></p>

<a href="/code-across" class="button" style="center;width:100%;padding:10px 0px;font-weight:900;font-size:20px;background-color:#efefec;">
	<p style="text-align:center">Learn more about CodeAcross Seattle</p>
</a>

{% include upcoming.html %}

{% include ndoch.html %}

{% include civic-hacking.html %}

{% include help-your-city.html %}

{% include projects.html %}

{% include meetups.html %}

{% include contact.html %}
