html,
body,
input,
button,
select,
textarea {
  font: 15px/25px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body, html {
  background-color: #f2f2f1;
  min-height: 100%;
}

body {
  border-top: 3px solid #b6b6b4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 5px;
}

a {
  color: #4189C9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2F6FA7;
}


.container {
  width: 100%;
  margin: 0px auto;
}

.inner-wrapper {
  width: 80%;
  padding: 0px 10% 0px 10%;
  margin: 0px auto;
}

main .container,
header .container,
footer .container {
  background-color: #fff;
  border-right: 1px solid #e2e2e1;
  border-left: 1px solid #e2e2e1;
}

main .container {
  border-top: 1px solid #f2f2f1;
}

main .inner-wrapper {
  margin-top: 10px;
}

header {
}

header .inner-wrapper {
  margin-bottom: 25px;
}

.section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

header img {
  display: block;
  float: left;
  width: 180px;
  height: auto;
  margin: 10px 50px 30px 0px;
}

header h1 {
  font-size: 25px;
  padding-top: 40px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

header h1 span {
  font-size: 20px;
}

header h3 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  letter-spacing: 1px;
}

footer {
  
}

ul.main {
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin: 30px 0px 60px 0px;
}

ul.main li {
  display: inline-block;
  padding: 0px 10px;
}

.ndoch h3 {
  text-align: center;
  font-size: 15px;
}

img.full {
  width: 100%;
  height: auto;
}

img.half {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ndoch a.signup {
  padding: 10px 15px 10px 10px;
  background-color: #4189C9;
  color: #fff;
  margin: 35px 0px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.ndoch a.signup:hover, .ndoch a.signup:focus {
  background-color: #2F6FA7;
}

.section h2.title {
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

img.hub {
  width:120px;
  height:auto;
}

ul.contact {
  margin-bottom: 50px;
}

ul.contact li {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 480px;
  }

  .inner-wrapper {
    padding: 0px 30px 0px 30px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }
}

/* clearfix */
.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  *zoom: 1;
}
