html,
body,
input,
button,
select,
textarea {
  font: 15px/25px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body, html {
  background-color: #fcfcfe;
  min-height: 100%;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 5px;
}

a {
  color: #4189C9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2F6FA7;
}

img.full {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.inner-wrapper {
  width: 80%;
  padding: 0px 10% 0px 10%;
  margin: 0px auto;
}

main {
  border-top: 1px solid #f2f2f1;
}

main .inner-wrapper {
  margin-top: 10px;
}


header.home {
  background: url(/images/sui-01.jpg);
  background-position: bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

header.page {
  height: 180px;
}

header .inner-wrapper {
  margin-bottom: 25px;
}

.section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

header img.logo {
  display: block;
  width: 250px;
  height: auto;
  margin: 30px auto 30px auto;
}

header.page img.logo {
  display: block;
  width: 100px;
  height: auto;
  margin: 10px auto;
}

ul.main {
  margin: 0px;
  text-align: center;
  margin: 30px 0px 20px 0px;
  border-bottom: 1px solid #efefef;
  padding: 0px 0px 26px 0px;
}

ul.main li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 12px;
}

header.page ul.main {
  padding: 0px;
  text-align: center;
  margin: 25px auto 0px auto;
  border-bottom: 0px;
}

@media only screen and (min-width: 500px){
  ul.main li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 960px) {
  header.page {
    height: 100px;
  }

  header.page img.logo {
    display: block;
    width: 80px;
    height: auto;
    margin: 10px 0px;
    float: left;
  }

  header.page ul.main {
    padding: 0px;
    text-align: right;
    margin: 40px 0px 0px 0px;
    float: right;
  }
}

h1.site-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #cccccc;
}

h3.home-welcome {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
}

header h1 {
  font-size: 25px;
  padding-top: 40px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

header h1 span {
  font-size: 20px;
}

header h3 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.ndoch h3 {
  text-align: center;
  font-size: 15px;
}

img.full {
  width: 100%;
  height: auto;
}

img.half {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ndoch a.signup {
  padding: 10px 15px 10px 10px;
  background-color: #4189C9;
  color: #fff;
  margin: 35px 0px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.ndoch a.signup:hover, .ndoch a.signup:focus {
  background-color: #2F6FA7;
}

.section h2.title {
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

img.hub {
  width:120px;
  height:auto;
}

ul.contact {
  margin-bottom: 50px;
}

ul.contact li {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 15px;
}


/*
* Code Across Seattle
*/

.come-to-codeacross {
  text-align: center;
  color: #cccccc;
}

.code-across {
  margin-bottom: 100px;
}

.code-across-teaser {
  border-radius: 3px;
}

.code-across .welcome,
.code-across-teaser {
  background-color: #EF4E4B;
  padding: 20px 50px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, .15);
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, .15);
  color: #fff;
}

.code-across .welcome h1.title,
.code-across-teaser h1.title {
  font-weight: 900;
  font-size: 45px;
  letter-spacing: -2px;
}

.code-across .welcome h3.date
.code-across-teaser h3.date {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

.code-across .welcome h2.about,
.code-across-teaser h2.about {
  font-size: 20px;
  line-height: 1.4;
  padding: 0px 2%;
  font-weight: 300;
}

.code-across h1,
.code-across h2,
.code-across h3,
.code-across h4 {
  font-weight: 500;
}

.code-across-teaser a {
  color: #fff;
}

.button {
  display: inline-block; 
  border-radius: 2px; 
  padding: 15px 20px; 
  margin: 10px auto 0px auto;
  font-weight: 500;
}

.button.white {
  background-color: #fff; 
  color: #EF4E4B
}

.button.red {
  background-color: #EF4E4B; 
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 480px;
  }

  .inner-wrapper {
    padding: 0px 30px 0px 30px;
  }

  .code-across .welcome h2.about {
    font-size: 25px;
    padding: 0px 15%;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }

  .code-across .welcome h2.about {
    font-size: 30px;
    padding: 0px 24%;
  }

  h3.home-welcome {
    font-size: 25px;
  }
}

/* clearfix */
.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  *zoom: 1;
}

.project-list {
  overflow: hidden;
  padding: 3px;
}

.project-card {
  float: left;
  width: 110px;
  border: 1px solid #f2f2f1;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 1px 1px 5px 1px #f2f2f1;
  box-shadow: 1px 1px 5px 1px #f2f2f1;
}

.project-card:hover {
  -webkit-box-shadow: 2px 2px 5px 0px #2F6FA7;
  box-shadow: 2px 2px 5px 0px #2F6FA7;
}


.project-img {
  width: 110px;
  display: block;
  line-height: 1.2em;
  text-align: center;
}

.project-link {
  border-top: 1px solid #f2f2f1;
  display: block;
}
