<div class="section civic-hacking">
  <h2 class="title">What is civic hacking?</h2>
  <p>Civic hacking creates technology that increases civic engagement, builds tools for governments to share information, and allows citizens to hold governments accountable. Civic hackers solve problems with code.</p> 
  <p>Check out this great video from the Sunlight Foundation:</p>
  <div style="text-align:center;">
  <p><iframe width="560" height="315" src="http://www.youtube.com/embed/kDFhzNfd-bg" frameborder="0" allowfullscreen></iframe></p>
  </div>
</div>
