<div class="section">
	<h2 class="title" id="contact">Want more info? <span class="muted">Contact us.</span></h2>
	<ul class="contact">
    <li><b>Email:</b> info at codeforseattle.org</li>
    <li><b>GitHub:</b> <a href="https://github.com/codeforseattle" target="_blank">github.com/codeforseattle</a></li>
    <li><b>Google group:</b> <a href="https://groups.google.com/forum/#!forum/codeforseattle" target="_blank">Code for Seattle</a></li>
    <li><b>Twitter:</b> <a href="http://twitter.com/code4seattle" target="_blank">@code4seattle</a></li>
    <li><b>Facebook:</b> <a href="https://www.facebook.com/CodeForSeattle" target="_blank">facebook.com/CodeForSeattle</a></li>
    <li><b>Tumblr:</b> <a href="http://codeforseattle.tumblr.com" target="_blank">codeforseattle.tumblr.com</a></li>
  </ul>
  <div class="facebook">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcodeforseattle&amp;width=292&amp;height=62&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=true&amp;appId=519892634715793" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
  </div>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/code4seattle" data-widget-id="337282857930215424">Tweets by @code4seattle</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</div>