<div class="featurette">
	<img name="contact" id="contact" class="featurette-image pull-right" src="">
	<h2 class="featurette-heading">Want Even More Info? <span class="muted">Contact Us.</span></h2>
	<p class="lead">Our Brigade Captains are Kevin Curry (<a href="mailto:kevin@codeforamerica.org">kevin@codeforamerica.org</a> or <a href="https://twitter.com/kmcurry">@kmcurry</a>) and Bret Fisher (<a href="mailto:bret@fishbrains.com">bret@fishbrains.com</a> or <a href="https://twitter.com/BretFisher">@BretFisher</a>) and we want to hear from you!</p>
</div>