<div class="featurette">
<a href="https://groups.google.com/a/codeforamerica.org/forum/#!forum/{{site.content.google-group}}">
  <img name="groups" id="groups" class="featurette-image pull-right" src="images/google_groups.png">
</a>
<h2 class="featurette-heading">We Discuss Things Online. <span class="muted">Join and Introduce Yourself.</span></h2>
<p class="lead">
  Can't make it to a meetup?  No problem. We collaborate on projects, ask for help, and post wins 
  to our <a href="https://groups.google.com/a/codeforamerica.org/forum/#!forum/{{site.brigade.google-group}}">{{site.brigade.name}} forum</a> where you can get new posts in email and reply. We welcome anyone to sign-up... you might just see something you're interested in helping with.</p>
</div>