<header>
  <div class="inner-wrapper">
    <a href="{{ site.baseurl }}/">
      <img src="http://openseattle.org/logo/openseattle-hex-300x300.png" class="logo" />
    </a>

    <h1 class="site-title">Open Seattle</h1>
    <p class="site-description"><i>We are a multi-disciplinary group working together to improve our communities through civic technology. All minds are welcome!</i></p>
    {% include navbar.html %}
    <p style="text-align: center; margin-bottom:0px;"><a href="https://twitter.com/open_seattle" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @open_seattle</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FOpenSeattle&amp;width=200&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1403685376571754" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:62px;" allowTransparency="true"></iframe>
    <a href="http://openseattleslack.herokuapp.com"><img src="http://openseattleslack.herokuapp.com/badge.svg"></a>
  </div>
</header>