<header class="site-header">
  <div class="top-nav">
    <div class="container">
      <a href="/"><img src="http://openseattle.org/logo/openseattle-500x392.png" class="logo"/></a>
      <ul class="nav-items">
        <li class="nav-item top-nav-item"><a class="top-nav-link" href="/about">about</a></li>
        <li class="nav-item top-nav-item"><a class="top-nav-link" href="/blog">blog</a></li>
        <li class="nav-item top-nav-item"><a class="top-nav-link" href="/projects">projects</a></li>
        <li class="nav-item top-nav-item"><a class="top-nav-link" href="/events">events</a></li>
      </ul>
    </div>
  </div>
</header>
