<div class="section">
  <h2 class="title">Get involved.</h2>
  <a href="http://brigade.codeforamerica.org/">
    <img name="cfa" id="cfa" class="full" src="images/cfa_brigade_logo.png">
  </a>
  <h2 class="featurette-heading">Want to help Seattle, WA? <span class="muted">Good &mdash; we could use your help!</span></h2>
  <p class="lead">We are a <a href="http://brigade.codeforamerica.org/">Code for America Brigade</a>, 
    which means we're a group of Seattleites that contribute 
    our talents towards improving the way our local governments and community organizations use the web. 
    Brigade is about action and you're here because you are someone who takes action. 
    <a href="http://brigade.codeforamerica.org/pages/activities">See what kind of things brigades do</a>, or  
      <a href="http://codeforamerica.org/2012/03/08/jennifer-pahlka-at-ted-video/">watch this
        inspirational TED talk given by Jennifer Pahlka, the founder of Code for America.</a></p>
</div>
