<div class="span4">
  <img src="images/captain.png">
  <h2>Come To Our Meetups</h2>
  <p>{{ site.content.meetup-invite }}</p>
  <p><a class="btn" href="#meetup">View details &raquo;</a></p>
</div><!-- /.span4 -->

<div class="span4">
  <img src="images/community.png">
  <h2>Join Online Discussions</h2>
  <p><a href="{{ site.brigade.google-group }}">
    An open conversation online</a> about what we're doing now and what's next.</p>
  <p><a class="btn" href="#groups">View details &raquo;</a></p>
</div><!-- /.span4 -->

<div class="span4">
  <img src="images/cfa_logo_greyscale.png">
  <h2>See Our Inspiration</h2>
  <p><a href="http://codeforamerica.org/">Code for America</a> is the organization that helped inspire 
    many of us that we can change our City. 
  </p>
  <p><a class="btn" href="#cfa">View details &raquo;</a></p>
</div><!-- /.span4 -->