<div class="featurette">
        <a href="{{site.content.brigade-link}}">
          <img name="meetup" id="meetup" class="featurette-image pull-left" src="images/meetup.jpg">
          </a>
        <h2 class="featurette-heading">We Meet Often. <span class="muted">Come Join Us.</span></h2>
        <p class="lead">View our <a href="{{site.brigade.meetup-link}}">
          Meetups site</a> for our next location and time. We try to meet every few 
          Mondays where we hack (develop) our projects,  
          or brainstorm on current issues and activities around Asheville.</a>
      </div>