<div class="section">
  <h2 class="title" id="meetups">We meet often. <span class="muted">Hack with us.</span></h2>
  <a href="{{site.brigade.meetup-link}}">
    <img name="meetup" id="meetup" class="half" src="images/meetup.jpg">
    </a>
  <p class="lead">View our <a href="{{site.brigade.meetup-link}}">
    Meetup site</a> for our next location and time. We try to meet once or twice a month
    where we hack (develop) our projects,  
    or brainstorm on current issues and activities around Seattle.</a>
</div>
