<ul class="main">
  <li><a href="{{ site.baseurl }}/about">About</a></li>
  <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
  <li><a href="{{ site.baseurl }}/guides">Guides</a></li>
  <li><a href="https://github.com/openseattle/discuss/issues">Discuss</a></li>
  <li><a href="{{ site.baseurl }}/events">Events</a></li>
  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
  <li><a href="https://github.com/openseattle" target="_blank">GitHub</a></li>
  <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
</ul>
