<div class="section ndoch">
  <h2 class="title">Upcoming hackathon:</h2>
  <h3>Join us on <b>June 1</b> at <b>Seattle City Hall</b> for the <b>National Day of Civic Hacking!</b></h3>
  <a href="http://www.meetup.com/Code-for-Seattle/events/113040382/" target="_blank">
    <img src="{{ site.baseurl }}/images/ndoch/ndoch-logo.png" class="ndoch full" />
  </a>
  <p>Citizens, software developers, entreprenuers, and government staff collaborating to solve challenges relevant to Seattle, WA using publicly-released data, code, and technology.</p>

  <p>Watch for tweets about the event using the #hack4seattle hashtag, and we'll also be posting updates in this event's comments, as well as on the Code for Seattle google group.</p>

  <p>Want to keep hacking after 5 p.m. on June 1? Cool! We'll have open hacking sessions at <a href="http://www.jigsawrenaissance.org/" target="_blank">Jigsaw Renaissance</a> on Saturday until 10 p.m., and on Sunday from 9 a.m. to 5 p.m.</p>

  <a href="http://www.meetup.com/Code-for-Seattle/events/113040382/" target="_blank" class="signup">Sign up for the event!</a>

  <p>Read more about the National Day of Civic Hacking at <a href="http://hackforchange.org/" target="_blank">hackforchange.org</a>.</p>
</div>