<section id="newsletter">
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="http://codeforseattle.us3.list-manage2.com/subscribe/post?u=f405e5b88dbe4706a8854768b&amp;id=d0d6ff42a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
		  <div style="position: absolute; left: -5000px;"><input type="text" name="b_f405e5b88dbe4706a8854768b_d0d6ff42a4" value=""></div>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button red">
		</form>
	</div>
	<!--End mc_embed_signup-->
</section>