---
layout: default
---

<header class="home">
  <div class="container">
    <div class="inner-wrapper">
      {% include header-home.html %}
    </div>
  </div>
</header>

<main role="main">
  <div class="container">
    <div class="inner-wrapper">

      {% include navbar.html %}

      <h1>Code <span>for</span> Seattle</h1>
      <h3>Developers, designers, data geeks, leaders, artists, and idea-makers who help Seattle 
  government and civic orgs adopt open web technologies.</h3>

      {{ content }}
    </div>
  </div>    
</main>