---
layout: default
---

<header class="home">
  <div class="container">
    <div class="inner-wrapper">
      {% include header-home.html %}
    </div>
  </div>
</header>

<main role="main" class="home">
  {% include navbar.html %}
  <div class="container">
    <div class="inner-wrapper">

      <h1 class="site-title">Code <span>for</span> Seattle</h1>
      <h3 class="home-welcome">Developers, designers, data geeks, leaders, artists, and idea-makers who help Seattle 
  government and civic organizations adopt open web technologies.</h3>

      {{ content }}
    </div>
  </div>    
</main>

<footer>
  <div class="container">
    <div class="inner-wrapper">
      Photo by <a href="http://www.flickr.com/photos/suisea/"suisea</a>.
    </div>
  </div>
</footer>